{% extends "base.html" %}

{% block head_title %} Series | {{ block.super }} {% endblock head_title %}

{% block content %}

<h1>Series List <small><a href="{% url 'series:create' %}">Add a Series</a></small></h1>

<div class="row">
{% for object in object_list %}
  <div class="col-sm-4 ">
    <div class="card card-cascade">
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap" >
        <a href="{{ object.get_absolute_url }}">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <div class="card-body card-body-cascade">
        <h5 class="card-title">
          <a href="{{ object.get_absolute_url }}" class="title">{{ object.title }}</a>
          <hr>
        </h5>
        <h6 class="font-weight-bold indigo-text py-2">
          IMDB: {{ object.imdb }}
        </h6>
        <p class="card-text">
          Summary: {{ object.summary }}
        </p>
        <p class="card-text">
          Status: {{ object.status }}
        </p>
        <p class="card-text">
          Genres: <span class="badge badge-default">{{ object.genres }}</span>
        </p>
      </div>
    </div>
  </div>

{% empty %}
  <li><a href="{% url 'series:create' %}">Add a Series</a></li>

{% endfor %}
</div>



{% endblock content %}