{% extends "base.html" %}

{% block head_title %} Series | {{ block.super }} {% endblock head_title %}

{% block content %}
<br>
<div class="row">
  <div class="col-mb-3">
    <div class="card" style="width: 50rem;">
      <img class="card-img-top" src="https://via.placeholder.com/480x320" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">
          {{ object.title }}
        </h5>
        <h6 class="card-subtitle mb-2 test-muted">
          IMDB: {{ object.imdb }}
        </h6>
        <p class="card-text">
          Summary: {{ object.summary }}
        </p>
        <p class="card-text">
          Status: {{ object.status }}
        </p>
        <p class="card-text">
          Genres: <span class="badge badge-default">{{ object.genres }}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>

{% endblock content %}