<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->
  <a class="navbar-brand mx-3" href="/">Navbar</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mx-3">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item mx-3">
          <a class="nav-link" href="{% url 'series:list' %}">My Series</a>
        </li>
      {% endif %}
      <li class="nav-item mx-3">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
    </ul>
    <!-- Links -->
    
    <form method="get" class="mx-4 my-auto d-inline flex-grow-1" align="right">
      <div class="md-form my-0 text-center">
          {{ form }}
      </div>
    </form>

    <!-- Links -->
    <ul class="navbar-nav col-md-1 ml-4">
      {% if request.user.is_authenticated %}
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fa fa-user"></i></a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'contact' %}">Profile</a>
            <a class="dropdown-item" href="#">My account</a>
            <a class="dropdown-item" href="{% url 'admin:logout' %}">Logout</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}

      
    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->


