{% extends 'base.html' %}

{% block content %}

{% if search_result.length == 0 %}
  <h4> Most popular TV Shows </h4>
   <ul class="list-group" id="searchResult">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
   </ul>
{% else %}
  <div class="d-none text-center" id="spinner-search" role="status">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <!-- <span class="pb-4" align="center" >Doing science...</span> -->
  </div>

  <!-- Autocomplete results -->
  <div class="row" id="search-result">
  </div><br>
  <!-- Section-->
  <section class="my-4 mb-4" id="section-search">
    <!-- Section heading -->
    
    <form action="#" method="get" class="text-center">
      <input type="text" id="input-random" value="8" name="id" size="1" hidden/>
      <input type="submit" id="input-button" class="btn btn-info btn-md" value="Discover a new show!" onclick="change_random()" name="btn-random">
    </form>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5"></p>

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-1">
      </div>
      <div class="col-lg-3">
        <!-- Featured image -->
        <div class="view overlay rounded mb-2">
          {% if search_result.image is None %}
            <img class="img-fluid" src="http://placehold.jp/24/cccccc/ffffff/150x150.png?text=No%20image%20avaiable" alt="Sample image">
          {% else %}  
            <img class="img-fluid" src="{{ search_result.image.medium }}" alt="Sample image">
          {% endif %}  
          <a data-toggle="modal" data-target="#modalQuickView">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">
      <div class="col-lg-1">
      </div>

        <!-- Category -->
        <h6 class="font-weight-bold blue-text"><i class="fas fa-star pr-1"></i> 
            {{ search_result.rating.average }}
            
            {% for genre in search_result.genres %}
              <p class="badge badge-primary ml-2">
                {{ genre }}  
              </p>
            {% endfor %}
        </h6>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3">{{ search_result.name }}</h4>
        <!-- Data -->
        <p class="text-justify"> {{ search_result.summary | safe }}</p>

        <!-- Read more button -->
        <div class="row">
          <a class="btn btn-danger btn-md" data-toggle="modal" data-target="#modalQuickView" onclick="get_more_info({{search_result.id }})">More Info</a>
          <form action="series/create", method="post"> {% csrf_token %}
            <input type="text" class="hidden d-none" name="name", value="{{ search_result.name }}">
            <input type="text" class="hidden d-none" name="show_id", value="{{ search_result.id }}">
            <input type="text" class="hidden d-none" name="language", value="{{ search_result.language }}">
            <!-- <input type="text" class="hidden d-none" name="genres", value="{{ search_result.genres }}"> -->
            <input type="text" class="hidden d-none" name="status", value="{{ search_result.status }}">
            <input type="text" class="hidden d-none" name="runtime", value="{{ search_result.runtime }}">
            <input type="text" class="hidden d-none" name="premiered", value="{{ search_result.premiered }}">
            <input type="text" class="hidden d-none" name="scheduled", value="{{ search_result.schedule }}">
            <input type="text" class="hidden d-none" name="rating", value="{{ search_result.rating.average }}">
            <input type="text" class="hidden d-none" name="network", value="{{ search_result.network.name }}">
            <input type="text" class="hidden d-none" name="country", value="{{ search_result.country.name }}">
            <input type="text" class="hidden d-none" name="image", value="{{ search_result.image.medium }}">
            <input type="text" class="hidden d-none" name="summary", value="{{ search_result.summary | safe }}">
            <!-- <input type="text" class="hidden d-none" name="nextepisode", value="{{ search_result }}"> -->
            <button type="submit" class="btn btn-primary btn-md">Add to my list
              <i class="fas fa-plus ml-2" aria-hidden="true"></i>
            </button>
          </form>
        </div>

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </section><br><br>
  <!-- Section-->

  <!-- Modal: modalQuickView -->
  <div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-5">
              <!--Image -->
              <div class="view overlay rounded mb-2">
                <img class="img-fluid" src="{{ search_result.image.original }}" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
                <p class="font-weight-bold"> <i class="fas fa-hourglass pr-1"></i> 
                  {{ search_result.status }}
                </p> 
                <p class="font-weight-bold"> <i class="fas fa-clock pr-1"></i> 
                  {{ search_result.runtime }} min.
                </p>
                <p class="font-weight-bold"> <i class="fas fa-calendar pr-1"></i> 
                  {% for day in search_result.schedule.days %}
                      {{ day }}  
                  {% endfor%}
                  
                  {{ search_result.schedule.time }}
                </p>
                <p class="font-weight-bold"> <i class="fas fa-language pr-1"></i> 
                  {{ search_result.language }}
                </p>
                {% if search_result.network.name %} 
                  <p class="font-weight-bold"> <i class="fas fa-tv pr-1"></i>
                    {{ search_result.network.name }}
                  </p>
                {% endif %}
                <p class="font-weight-bold" id="next-episode"> 
                </p>
            </div>
            <div class="col-lg-7">
              <h2 class="h2-responsive product-name">
                <strong>{{ search_result.name }}</strong>
              </h2>
              <!-- Category -->
              <h6 class="font-weight-bold blue-text"><i class="fas fa-star pr-1"></i> 
                  {{ search_result.rating.average }}
                  
                  {% for genre in search_result.genres %}
                    <p class="badge badge-primary ml-2">
                      {{ genre }}  
                    </p>
                  {% endfor%}
              </h6>
              <!--Accordion wrapper-->
              <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                      aria-controls="collapseOne1">
                      <h5 class="mb-0">
                        Summary <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>

                  <!-- Card body -->
                  <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                    data-parent="#accordionEx">
                    <div class="card-body">
                      <p class="text-justify"> {{ search_result.summary | safe }}</p>
                    </div>
                  </div>

                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card">

                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingTwo2">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                      aria-expanded="false" aria-controls="collapseTwo2">
                      <h5 class="mb-0">
                        Main Cast <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>

                  <!-- Card body -->
                  <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                    data-parent="#accordionEx">
                    <div class="card-body">
                      <p id="cast"></p>
                    </div>
                  </div>

                </div>
                <!-- Accordion card -->
              </div>
              <!-- Accordion wrapper -->

              <!-- Add to my List -->
              <div class="card-body">
                <div class="text-center">

                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button class="btn btn-primary">Add to my list
                    <i class="fas fa-plus ml-2" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <!-- /.Add to Cart -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}


{% endblock content %}